*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    color: #fff;
    padding-top: 4%;
    padding-left: 10%;
    background: linear-gradient(128deg, rgba(255,175,78,1) 0%, rgba(199,200,104,1) 100%);
}

.container h1{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 36px;
}

.container h1 img{
    width: 34px;
}

.container button{
    display: flex;
    align-items: center;
    padding: 10px 18px;
    outline: 0;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    background: linear-gradient(128deg, rgba(254,146,0,1) 0%, rgb(255, 60, 0) 100%);
    color: #fff;
    gap: 6px;
    margin: 18px 0 12px 0;
    font-size: 12px;
}

.container button img{
    width: 20px;
}

.input-box{
    position: relative;
    width: 100%;
    max-width:500px;
    min-height: 180px;
    color: #000;
    background: #fff;
    padding: 12px;
    font-size: 14px;
    outline: none;
    border-radius: 6px;
    margin: 0 8px 8px 0;
}

.input-box img{
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    width: 20px;
}


